<div id="map"
	 data-token="{{ map.token }}"
	 data-western-limit="{{ map.westernLimit }}"
	 data-northern-limit="{{ map.northernLimit }}"
	 data-eastern-limit="{{ map.easternLimit }}"
	 data-southern-limit="{{ map.southernLimit }}">
</div>