{% trans_default_domain 'datepicker' %}

<div id="datepicker-locale"
	 data-date-format="{{ 'datepicker.format'|trans }}"
	 data-title="{{ 'datepicker.title'|trans }}"
	 data-january-full="{{ 'datepicker.january.full'|trans }}"
	 data-january-short="{{ 'datepicker.january.short'|trans }}"
	 data-february-full="{{ 'datepicker.february.full'|trans }}"
	 data-february-short="{{ 'datepicker.february.short'|trans }}"
	 data-march-full="{{ 'datepicker.march.full'|trans }}"
	 data-march-short="{{ 'datepicker.march.short'|trans }}"
	 data-april-full="{{ 'datepicker.april.full'|trans }}"
	 data-april-short="{{ 'datepicker.april.short'|trans }}"
	 data-may-full="{{ 'datepicker.may.full'|trans }}"
	 data-may-short="{{ 'datepicker.may.short'|trans }}"
	 data-june-full="{{ 'datepicker.june.full'|trans }}"
	 data-june-short="{{ 'datepicker.june.short'|trans }}"
	 data-july-full="{{ 'datepicker.july.full'|trans }}"
	 data-july-short="{{ 'datepicker.july.short'|trans }}"
	 data-august-full="{{ 'datepicker.august.full'|trans }}"
	 data-august-short="{{ 'datepicker.august.short'|trans }}"
	 data-september-full="{{ 'datepicker.september.full'|trans }}"
	 data-september-short="{{ 'datepicker.september.short'|trans }}"
	 data-october-full="{{ 'datepicker.october.full'|trans }}"
	 data-october-short="{{ 'datepicker.october.short'|trans }}"
	 data-november-full="{{ 'datepicker.november.full'|trans }}"
	 data-november-short="{{ 'datepicker.november.short'|trans }}"
	 data-december-full="{{ 'datepicker.december.full'|trans }}"
	 data-december-short="{{ 'datepicker.december.short'|trans }}"
	 data-monday-full="{{ 'datepicker.monday.full'|trans }}"
	 data-monday-short="{{ 'datepicker.monday.short'|trans }}"
	 data-monday-narrow="{{ 'datepicker.monday.narrow'|trans }}"
	 data-tuesday-full="{{ 'datepicker.tuesday.full'|trans }}"
	 data-tuesday-short="{{ 'datepicker.tuesday.short'|trans }}"
	 data-tuesday-narrow="{{ 'datepicker.tuesday.narrow'|trans }}"
	 data-wednesday-full="{{ 'datepicker.wednesday.full'|trans }}"
	 data-wednesday-short="{{ 'datepicker.wednesday.short'|trans }}"
	 data-wednesday-narrow="{{ 'datepicker.wednesday.narrow'|trans }}"
	 data-thursday-full="{{ 'datepicker.thursday.full'|trans }}"
	 data-thursday-short="{{ 'datepicker.thursday.short'|trans }}"
	 data-thursday-narrow="{{ 'datepicker.thursday.narrow'|trans }}"
	 data-friday-full="{{ 'datepicker.friday.full'|trans }}"
	 data-friday-short="{{ 'datepicker.friday.short'|trans }}"
	 data-friday-narrow="{{ 'datepicker.friday.narrow'|trans }}"
	 data-saturday-full="{{ 'datepicker.saturday.full'|trans }}"
	 data-saturday-short="{{ 'datepicker.saturday.short'|trans }}"
	 data-saturday-narrow="{{ 'datepicker.saturday.narrow'|trans }}"
	 data-sunday-full="{{ 'datepicker.sunday.full'|trans }}"
	 data-sunday-short="{{ 'datepicker.sunday.short'|trans }}"
	 data-sunday-narrow="{{ 'datepicker.sunday.narrow'|trans }}"
	 data-button-ok="{{ 'datepicker.button.ok'|trans }}"
	 data-button-cancel="{{ 'datepicker.button.cancel'|trans }}"
	 data-button-clear="{{ 'datepicker.button.clear'|trans }}"
	 data-label-ok="{{ 'datepicker.label.ok'|trans }}"
	 data-label-cancel="{{ 'datepicker.label.ok'|trans }}"
	 data-label-clear="{{ 'datepicker.label.ok'|trans }}"
	 data-label-next-month="{{ 'datepicker.label.ok'|trans }}"
	 data-label-prev-month="{{ 'datepicker.label.ok'|trans }}"
	 data-label-next-year="{{ 'datepicker.label.ok'|trans }}"
	 data-label-prev-year="{{ 'datepicker.label.ok'|trans }}"
	 data-label-next-multiyear="{{ 'datepicker.label.ok'|trans }}"
	 data-label-prev-multiyear="{{ 'datepicker.label.ok'|trans }}"
	 data-label-multiyear-view="{{ 'datepicker.label.ok'|trans }}"
	 data-label-month-view="{{ 'datepicker.label.ok'|trans }}"
	 data-label-day-view="{{ 'datepicker.label.ok'|trans }}">
</div>